<div class="container">
  <div class="brand">
    <img class="logo" src="../../assets/Glass.jpg" alt="Glass Logo" />
  </div>
  <div class="search">
    <a class="mobile-search" href="#" (click)="handleMobileSearch($event)">
      <img
        src="https://res.cloudinary.com/sivadass/image/upload/v1494756966/icons/search-green.png"
        alt="search"
      />
    </a>
    <form
      [formGroup]="searchForm"
      ngClass="{mobileSearch ? 'search-form active' : 'search-form'}"
      (ngSubmit)="handleSubmit()"
    >
      <a class="back-button" href="#" (click)="handleSearchNav($event)">
        <img
          src="https://res.cloudinary.com/sivadass/image/upload/v1494756030/icons/back.png"
          alt="back"
        />
      </a>
      <input
        type="search"
        formControlName="searchBox"
        placeholder="Glass Search"
        class="search-keyword"
        (change)="handleSearch()"
      />
      <button class="search-button" type="submit"></button>
    </form>
  </div>
</div>
